html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

#root {
  height: 100%;
  width: 100%;
}
.body {
  width: 100%;
  height: 100%;
  background: linear-gradient(139.73deg,#bcd6d8,#f3efff);
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center bottom;
  display: flex;
  flex-direction: column;
  color: #fff;
}

.body .header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 54px;
  padding: 0 20px;
  flex: 0 0 54px;
  box-shadow: 0 0.05rem 0.4rem #282828;
  background: #ceebee;
  box-sizing: border-box;
}



.body .header .header-top {
  display: flex;
  align-items: center;
  padding: .5rem .6rem;
  border-radius: .7rem;
  background: #8f76d7;
  box-shadow: 0 0.25rem 0.9rem #0000000f;
}
.body .header .header-top .header-top-image {
  width: 20px;
  margin-right: 10px;
}


.body .content {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.body .content .content-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 600px;
  border-radius: 10px;
  background: transparent;
  padding: 15px 20px;
  box-sizing: border-box;
  border: 1px solid #2e9cea;
}

.body .content .content-body .content-body-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}
.body .content .content-body .content-body-content span{
  margin-bottom: 20px;
  color: #000;
  font-size: 18px;
}

